<%= form_with(model: contract_profile, local: true) do |form| %>
  <% if contract_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract_profile.errors.count, "error") %> prohibited this contract_profile from being saved:</h2>

      <ul>
      <% contract_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <div class="form-row">
    <div class="col-md-4>
      <label id="lblId"><strong>Id:</strong></label>
      <input type="number" id="contract_profile_id" name="contract_profile[id]" class="form-control" placeholder="Ingrese Id"
      value="<%= @contract_profile != nil ? @contract_profile.id : '' %>">
    </div>
    <div class="col-md-4>
      <label id="lblId"><strong>Descripción:</strong></label>
      <input type="text" id="contract_profile_descripcion" name="contract_profile[descripcion]" class="form-control" placeholder="Ingrese Descripción"
      value="<%= @contract_profile != nil ? @contract_profile.descripcion : '' %>">
    </div>
    <div class="col-md-4>
      <label id="lblId"><strong>Id Contrato:</strong></label>
      <input type="number" id="contract_profile_id_contratos" name="contract_profile[id_contratos]" class="form-control" placeholder="Ingrese Id Contrato"
      value="<%= @contract_profile != nil ? @contract_profile.id_contratos : '' %>">
    </div>
  </div>
</div>
<div class="form-group">
    <div class="form-row">
      <div class="col-md-12">
        <center><input type="submit" id="btnAceptar" name="btnAceptar" value="Aceptar" class="btn btn-primary"/></center>
      </div>
    </div>
</div>
<% end %>
