<p id="notice"><%= notice %></p>

<h1>Contract Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Id contratos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contract_profiles.each do |contract_profile| %>
      <tr>
        <td><%= contract_profile.id %></td>
        <td><%= contract_profile.descripcion %></td>
        <td><%= contract_profile.id_contratos %></td>
        <td><%= link_to 'Show', contract_profile %></td>
        <td><%= link_to 'Edit', edit_contract_profile_path(contract_profile) %></td>
        <td><%= link_to 'Destroy', contract_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract Profile', new_contract_profile_path %>
