<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header"><h1>Detalle</h1></div>
    <div class="card-body">
    <div class="form-group">
        <div class="form-row">
          <div class="col-md-12">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th><strong>Id:</strong></th>
                  <th><strong>Descripción:</strong></th>
                  <th><strong>Id Contratos:</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @contract_profile.id %></td>
                  <td><%= @contract_profile.descripcion %></td>
                  <td><%= @contract_profile.id_contratos %></td>
                </tr>
                </tbody>
              </table>          
          </div>
        </div>
      </div>
      <div class="form-group">
      <div class="form-row">
        <div class="col-md-12">
          <center><%= link_to 'Editar', edit_contract_profile_path(@contract_profile),{ class: "btn btn-info btn-sm" } %>
          <%= link_to 'Volver', contract_profiles_path,{ class: "btn btn-info btn-sm" } %></center>
        </div>
      </div> 
    </div>
  </div>
 </div> 
</div>
