<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header"><h1>Detalle</h1></div>
    <div class="card-body">
    <div class="form-group">
        <div class="form-row">
          <div class="col-md-1">
            <strong>Id:</strong>
            <%= @contract.id %>
          </div>
          <div class="col-md-1">
            <strong>Salario:</strong>
            <%= @contract.salario %>
          </div>
          <div class="col-md-1">
            <strong>Cargo:</strong>
            <%= @contract.cargo %>
          </div>
          <div class="col-md-1">
            <strong>Id Empresa:</strong>
            <%= @contract.id_empresa %>
          </div>
          <div class="col-md-1">
            <strong>Tipo Contrato:</strong>
            <%= @contract.tipo_contrato %>
          </div>
          <div class="col-md-1">
            <strong>Fecha Ingreso:</strong>
            <%= @contract.fecha_ingreso %>
          </div>
          <div class="col-md-1">
            <strong>Fecha Retiro:</strong>
            <%= @contract.fecha_retiro %>
          </div>
        </div>
      </div>
      <div class="form-group">
      <div class="form-row">
        <div class="col-md-12">
          <center><%= link_to 'Editar', edit_contract_path(@contract),{ class: "btn btn-info btn-sm" } %>
          <%= link_to 'Volver', contracts_path,{ class: "btn btn-info btn-sm" } %></center>
        </div>
      </div> 
    </div>
  </div>
 </div> 
</div>