<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card mx-auto mt-5">
    <div class="card-header"><h1>Detalle</h1></div>
    <div class="card-body">
    <div class="form-group">
        <div class="form-row">
          <div class="col-md-12">
          <table class="table table-bordered">
          <thead>
            <tr>
              <th><strong>Id:</strong></th>
              <th><strong>Salario:</strong></th>
              <th><strong>Cargo:</strong></th>
              <th><strong>Id Empresa:</strong></th>
              <th><strong>Tipo Contrato:</strong></th>
              <th><strong>Fecha Ingreso:</strong></th>
              <th><strong>Fecha Retiro:</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @contract.id %></td>
              <td><%= @contract.salario %></td>
              <td><%= @contract.cargo %></td>
              <td><%= @contract.id_empresa %></td>
              <td><%= @contract.tipo_contrato %></td>
              <td><%= @contract.fecha_ingreso %></td>
              <td><%= @contract.fecha_retiro %></td>
            </tr>
            </tbody>
          </table>                       
          </div>
        </div>
      </div>
      <div class="form-group">
      <div class="form-row">
        <div class="col-md-12">
          <center><%= link_to 'Editar', edit_contract_path(@contract),{ class: "btn btn-info btn-sm" } %>
          <%= link_to 'Volver', contracts_path,{ class: "btn btn-info btn-sm" } %></center>
        </div>
      </div> 
    </div>
  </div>
 </div> 
</div>