<p id="notice"><%= notice %></p>

<h1>Paysheets</h1>

<table>
  <thead>
    <tr>
      <th>Dias laborados</th>
      <th>Valor devengado</th>
      <th>Deducciones</th>
      <th>Neto pagado</th>
      <th>Id</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @paysheets.each do |paysheet| %>
      <tr>
        <td><%= paysheet.dias_laborados %></td>
        <td><%= paysheet.valor_devengado %></td>
        <td><%= paysheet.deducciones %></td>
        <td><%= paysheet.neto_pagado %></td>
        <td><%= paysheet.id %></td>
        <td><%= link_to 'Show', paysheet %></td>
        <td><%= link_to 'Edit', edit_paysheet_path(paysheet) %></td>
        <td><%= link_to 'Destroy', paysheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paysheet', new_paysheet_path %>
