<div class="container">       
	<div class="form-group">
		<div class="form-row">  
			<div class="col-md-12">
            <h2><span class="badge badge-pill badge-dark">Desprendible de Nomina</span></h2>		
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-row">
			<div class="col-md-12">
				<table class="table table-bordered" style="width:100%">
					<tr>
                        <td>Nombre de la Empresa <%="  "%><b><%= @nombreUs %></b> </td>
                        <td>Fecha  <%="  "%> <b><%=Time.new.strftime"%b  %d, %Y"%></b> </td>
							
                    </tr>
                    
                    <tr>

                    <td>Nombre del Trabajador <%="  "%><b><%= @nombre %></b> </td>
                    <td>Numero de Cedula  <%="  "%> <b><%=  @idEmpresa %></b> </td>

                    </tr>
                    <tr>

                    <td>Cargo Actual <%="  "%> <b><%= @cargo %></b> </td>
                    <td>Pago Correspondiente al mes de <b><%=Time.new.strftime"%b, %Y"%></b>  </td>
                    
                    </tr>
                   
                </table>
                </div>
		</div>        
	</div>    
 </div>   
                <div class="form-group">
		          <div class="form-row">
			        <div class="col-md-12">
                      <table class="table table-bordered" style="width:100%">
                        <tr>

                        <td><b>CONCEPTO</b> </td>
                        <td><b>DIAS</b> </td>
                        <td><b>TOTAL</b> </td>
                        <td><b>DEDUCCIONES</b> </td>
                        <td><b>DIAS</b> </td>
                        <td><b>TOTAL</b> </td>
                        
                        </tr>
                        <tr>

                        <td><b>SUELDO</b> </td>
                        <td><b><%= @dias %></b></td>
                        <td><b><%= @total %></b></td>
                        <td><b>ANTICIPO</b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        
                        </tr>
                        <tr>
                        
                        <td><b>COMISIONES</b> </td>
                        <td><b></b> </td>
                        <td><b><%=@comisiones %></b> </td>
                        <td><b>PRESTAMOS</b> </td>
                        <td><b></b> </td>
                        <td><b><%=@prestamos %></b></td>
                        
                        </tr>
                        <tr>

                        <td><b>AUXILIO DE TRANSPORTE</b> </td>
                        <td><b><%= @dias %></b> </td>
                        <td><b><%= @AuxTrasporte %></b> </td>
                        <td><b>SALUD</b> </td>
                        <td><b><%= @dias %></b> </td>
                        <td><b><%= @salud %></b> </td>
                        
                        </tr>
                        <tr>

                        <td><b>RECARGOS LABORALES</b> </td>
                        <td><b></b></b> </td>
                        <td><b><%= @recargos %></b></b> </td>
                        <td><b>PENSION</b> </td>
                        <td><b><%= @dias %></b> </td>
                        <td><b><%= @pension %></b> </td>
                        
                        </tr>
                        <tr>

                        <td><b>BONIFICACIONES</b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        <td><b>DESCUENTOS</b> </td>
                        <td><b></b> </td>
                        <td><b><%= @descuentos %></b> </td>
                        
                        </tr>
                        <tr>

                        <td><b>PRIMA DE SERVICIO</b> </td>
                        <td><b></b> </td>
                        <td><b><%= @prima %></b> </td>
                        <td><b>OTROS</b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        
                        </tr>
                        <tr>

                        <td><b>OTROS</b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        <td><b></b> </td>
                        
                        </tr>
                        <tr>

                        <td><b>TOTAL DEVENGADO</b> </td>
                        <td><b><%= @dias %></b> </td>
                        <td><b><%= @totalDevengo %></b> </td>
                        <td><b>TOTAL DEDUCCIONES</b> </td>
                        <td><b><b><%= @dias %></b> </td>
                        <td><b><b><%= @descuentos %></b> </td>
                        
                        </tr>
                           </table>
                        </div>
                </div>        
            </div>    
         </div> 
                    <div class="form-group">
                      <div class="form-row">
                        <div class="col-md-12">
                          <table class="table table-bordered" style="width:100%">
                            <tr>

                            <td><center><b >NETO A PAGAR </b> <%= " $ " %>  <b> <%= @netoPagar %> </b></center> </td>
                            
                            </tr>
               </table>
			</div>
		</div>        
	</div>    
 </div>   