
<%=  Time.new.strftime("%d-%m-2018") %>


<br/>
<br/>
<br/>

El señor <%= @nombre %> con numero de cedula <%= @id %>

<h1><%= @salario %></h1>
<h1><%= @fechaIngreso %></h1>
<h1><%= @fechaRetiro %></h1>
<h1><%= @cargo %></h1>
<h1><%= @nombreUs %></h1>






