

<% if  @total != nil %>
<input type="text" id="txtvalorsolicitado" hidden="" value="<%= @valorSolicitado  %>"/>
  <input type="text" id="txtnumeroCuota" hidden="" value="<%= @numeroCuotas %>"/>
<script>
swal({
  title: "Datos del prestamo",
  text:  "El valor del prestamo es $ <%= @valorSolicitado %> ,el numero de cuotas es <%= @numeroCuotas %> y el valor a pagar por mes es de $<%= @total %>",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Acepto el prestamo",
  cancelButtonText: "No Acepto",
  closeOnConfirm: false,
  closeOnCancel: false
},
function(isConfirm) {
  if (isConfirm) {
    swal("Confirmacion", "Su solicitud se enviara al analista de credito para el estudio.", "success");
  } else {
    swal("Confirmacion", "Su solicitud fue cancelada  :( ", "error");
   
  }
});
</script>
<% end %>
<body style="background-color:#E0E6EF;">
<div class="row text-center">
<div class="col-md-12">
   <br/>
   <br/>
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
       <i class="fa fa-money fa-stack-1x fa-inverse"></i>
    </span>
 </div>

   <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Simulador de Prestamos</div>
        <div class="card-body">
          <%= form_tag(:controller => "users", :action => "loan" ) do |f| %>
             <div class="form-group">
            <label for="lblValor">Valor a Solicitar</label>
            <form>
              <label for="customRange">   </label>
              <input type="range" class="custom-range" id="customRange" name="points1">
            </form>
             <input class="form-control" id="txtvalorsolicitar" name="txtvalorsolicitar" type="text" aria-describedby="emailHelp" placeholder="Escriba el valor de Solicitud ">
        </div>
      <div class="form-group">
         <label for="lblCuotas">Numero de Cuotas</label>
         <input class="form-control" id="txtNumeroCuotas" name="txtNumeroCuotas" type="text" placeholder="Numeros de cuotas a pagar">
      </div>
     
      <input type="submit" class="btn btn-primary btn-block" value="Aceptar" />
   </div>
    <% end %>
    </div>
   
    <%= link_to 'Regresar', {:controller => :users, :action => :employee} %>
   
   </div>
  </div>
</div>
</div>
</div>

</body>