<%= form_with(model: charge_profile, local: true) do |form| %>
  <% if charge_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charge_profile.errors.count, "error") %> prohibited this charge_profile from being saved:</h2>
      <ul>
      <% charge_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="form-group">
  <div class="form-row">
    <div class="col-md-6">
    
      <label id="lblId"><strong>Id:</strong></label>
      <input type="number" id="charge_profile_id" name="charge_profile[id]" class="form-control" placeholder="Ingrese Id"
      value="<%= @charge_profile != nil ? @charge_profile.id : '' %>">
    </div>
    <div class="col-md-6">
      <label id="lblDescripcion"><strong>Descripción:</strong></label>
      <input type="text" id="charge_profile_descripcion" name="charge_profile[descripcion]" class="form-control" placeholder="Ingrese Descripción"
      value="<%= @charge_profile != nil ? @charge_profile.descripcion : '' %>">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-row">
    <div class="col-md-12">
      <center><input type="submit" id="btnAceptar" name="btnAceptar" value="Actualizar" class="btn btn-primary"/></center>
    </div>
  </div>
</div>
<% end %>
