<p id="notice"><%= notice %></p>

<h1>Charge Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charge_profiles.each do |charge_profile| %>
      <tr>
        <td><%= charge_profile.id %></td>
        <td><%= charge_profile.descripcion %></td>
        <td><%= link_to 'Show', charge_profile %></td>
        <td><%= link_to 'Edit', edit_charge_profile_path(charge_profile) %></td>
        <td><%= link_to 'Destroy', charge_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charge Profile', new_charge_profile_path %>
