<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @charge_profile.id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @charge_profile.descripcion %>
</p>

<%= link_to 'Edit', edit_charge_profile_path(@charge_profile) %> |
<%= link_to 'Back', charge_profiles_path %>
