<%= form_with(model: user_modified, local: true) do |form| %>
  <% if user_modified.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_modified.errors.count, "error") %> prohibited this user_modified from being saved:</h2>
      <ul>
      <% user_modified.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="form-row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><label id="lblId"><strong>Id:</strong></label></th>
            <th><label id="lblNombre"><strong>Nombre:</strong></label></th>
            <th><label id="lblApellido"><strong>Apellido:</strong></label></th>
            <th><label id="lblDireccion"><strong>Dirección:</strong></label></th>
            <th><label id="lblTelefono"><strong>Teléfono:</strong></label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="number" id="user_modified_id" name="user_modified[id]" class="form-control" placeholder="Identificación"
            value="<%= @user_modified != nil ? @user_modified.id : '' %>"></td>
            <td><input type="text" id="user_modified_nombre" name="user_modified[nombre]" class="form-control" placeholder="Nombre"
            value="<%= @user_modified != nil ? @user_modified.nombre : '' %>"></td>
            <td><input type="text" id="user_modified_apellido" name="user_modified[apellido]" class="form-control" placeholder="Apellido"
            value="<%= @user_modified != nil ? @user_modified.apellido : '' %>"></td>
            <td><input type="text" id="user_modified_direccion" name="user_modified[direccion]" class="form-control" placeholder="Dirección"
            value="<%= @user_modified != nil ? @user_modified.direccion : '' %>"></td>
            <td><input type="text" id="user_modified_telefono" name="user_modified[telefono]" class="form-control" placeholder="Teléfono"
            value="<%= @user_modified != nil ? @user_modified.telefono : '' %>"></td>
          </tr>
        </tbody>
        <thead>
        <tr>
          <th><label id="lblEmail"><strong>Email:<strong></label></th>
          <th><label id="lblIdEmpresa"><strong>Id Empresa:<strong></label></th>
          <th><label id="lblIdPerfil"><strong>Id Perfil:<strong></label></th>
          <th><label id="lblIdPerfilCargo"><strong>Id Perfil del Cargo:<strong></label></th>
          <th><label id="lblIdNomina"><strong>Id Nómina:<strong></label></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" id="user_modified_email" name="user_modified[email]" class="form-control" placeholder="Email"
          value="<%= @user_modified != nil ? @user_modified.email : '' %>"></td>
          <td><input type="number" id="user_modified_id_empresa" name="user_modified[id_empresa]" class="form-control" placeholder="Identificación Empresa"
          value="<%= @user_modified != nil ? @user_modified.id_empresa : '' %>"></td>
          <td><input type="number" id="user_modified_id_perfil" name="user_modified[id_perfi]" class="form-control" placeholder="Identificación Perfil"
          value="<%= @user_modified != nil ? @user_modified.id_perfi : '' %>"></td>
          <td><input type="number" id="user_modified_id_perfil_cargo" name="user_modified[id_perfil_cargo]" class="form-control" placeholder="Identificación del Cargo"
          value="<%= @user_modified != nil ? @user_modified.id_perfil_cargo : '' %>"></td>
          <td><input type="number" id="user_modified_id_nomina" name="user_modified[id_nomina]" class="form-control" placeholder="Identificación de la Nómina"
          value="<%= @user_modified != nil ? @user_modified.id_nomina : '' %>"></td>
        </tr>
      </tbody>
      <thead>
          <tr>
            <th><label id="lblPreguntaSecreta"><strong>Pregunta Secreta:<strong></label></th>
            <th><label id="lblContraseña"><strong>Contraseña:<strong></label></th>
            <th><label id="lblIdContrato"><strong>Id Contrato:<strong></label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" id="user_modified_preguntaSecreta" name="ususer_modifieder[preguntaSecreta]" class="form-control" placeholder="Pregunta Secreta"
            value="<%= @user_modified != nil ? @user_modified.preguntaSecreta : '' %>"></td>
            <td><input type="text" id="user_modified_contraseñaa" name="user_modified[contraseña]" class="form-control" placeholder="Contraseña"
            value="<%= @user_modified != nil ? @user_modified.contraseña : '' %>"></td>
            <td><input type="number" id="user_modified_id_contrato" name="user_modified[id_contrato]" class="form-control" placeholder="dentificación del Contrato"
            value="<%= @user_modified != nil ? @user_modified.id_contrato : '' %>"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-row">
    <div class="col-md-12">
      <center><input type="submit" id="btnAceptar" name="btnAceptar" value="Aceptar" class="btn btn-primary"/></center>
    </div>
  </div>
</div>
<% end %>
