<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="form-row">
    <div class="col-md-2">
      <label id="lblId"><strong>Id:</strong></label>
      <input type="number" id="company_id" name="company[id]" class="form-control" placeholder="Ingrese Id"
      value="<%= @company != nil ? @company.id : '' %>">
    </div>
    <div class="col-md-2">
      <label id="lblNombre"><strong>Nombre:</strong></label>
      <input type="text" id="company_nombre" name="company[nombre]" class="form-control" placeholder="Ingrese Nombre"
      value="<%= @company != nil ? @company.nombre : '' %>">
    </div>
    <div class="col-md-2">
      <label id="lblDireccion"><strong>Dirección:</strong></label>
      <input type="text" id="company_direccion" name="company[direccion]" class="form-control" placeholder="Ingrese Dirección"
      value="<%= @company != nil ? @company.direccion : '' %>">
    </div>
    <div class="col-md-2">
      <label id="lblTelefono"><strong>Teléfono:</strong></label>
      <input type="text" id="company_telefono" name="company[telefono]" class="form-control" placeholder="Ingrese Teléfono"
      value="<%= @company != nil ? @company.telefono : '' %>">
    </div>
    <div class="col-md-2">
      <label id="lblEmail"><strong>Email:</strong></label>
      <input type="text" id="company_email" name="company[email]" class="form-control" placeholder="Ingrese Email"
      value="<%= @company != nil ? @company.email : '' %>">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-row">
    <div class="col-md-12">
      <center><input type="submit" id="btnAceptar" name="btnAceptar" value="Aceptar" class="btn btn-primary"/></center>
    </div>
  </div>
</div>
<% end %>
